body{
  font-family: 'Roboto', sans-serif;
}




  .mobile-title
  {
    display:none;
  }


.info
{
  position:absolute;
  bottom:20px;
  left:20px;
  padding:10px;

  z-index: 1000;
  background-color: white;
  border-radius: 5px;
}


.overlay
{
  position:absolute;
  bottom:20px;
  right:20px;
  padding:10px;

  z-index: 1000;
  background-color: white;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .info
  {
    display:none;
  }
  .mobile-title
  {
    display:block;
  }
}
