body{
  font-family: 'Roboto', sans-serif;
}


.audio-editor
{
  display:none;
  position:absolute;
  top:105px;
  left:5px;
  padding:2px;
  font-size:32px;
  z-index: 1000;
}

  .mute-button
  {
    position:absolute;
    top:55px;
    left:5px;
    padding:2px;
    font-size:32px;
    z-index: 1000;
  }



  .mobile-title
  {
    display:none;
  }


.info
{
  position:absolute;
  bottom:20px;
  left:20px;
  padding:10px;

  z-index: 1000;
  background-color: white;
  border-radius: 5px;
}


.overlay
{
  position:absolute;
  bottom:20px;
  right:20px;
  padding:10px;

  z-index: 1000;
  background-color: white;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .info
  {
    display:none;
  }
  .mobile-title
  {
    display:block;
  }
}
